.App {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 14px;
}

.App--loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.Header {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}
.Buttons {
  text-align: center;
}
.Buttons button {
  margin-left: 10px;
}
.Search {
  text-align: center;
  margin-top: 10px;
}

.InfiniteScrollText {
  width: 100%;
  text-align: center;
}
.NoData {
  margin-top: 50px;
  font-size: 20px;
  position: absolute;
}
.hide {
  display: none;
}
#TotalCountArea {
  margin-top:10px;
  font-size: 20px;
}
.PageNav {
  text-align: center;
  padding: 8px;
}
.PageNav a {
  margin-right: 10px;
  font-size: 18px;
}
